.footer {
	position: fixed;
    bottom: 0;
    left:0;
	width: 100%;
    height: 50px;
}

.socialMedia{
    position: relative;
    float: right;
    margin-top:10px;
    margin-right: 10px;
}

i{
    padding-right:25px;
}

i:hover{
    cursor: pointer;
}

a:hover{
    cursor: pointer;
}

a{
    font-size: 25px;
}

.contact{
    margin-top:5px;
    position: absolute;
    width: 200px;
    left:10%;
}