<footer class="footer bg-success">
  <div class="contact">
    <a>Contact Us</a>
  </div>
      <div class="socialMedia">
        <i class="fa fa-facebook fa-2x"></i>
        <i class="fa fa-globe fa-2x"></i>
        <i class="fa fa-youtube fa-2x"></i>        
      </div>
  </footer>
