<div class="media">
    <img src="../../assets/afl_logo.png" class="mr-3" width=150px, height=75px>
    <div class="media-body">
      <h5 class="mt-0">Media heading</h5>
      
    </div>
  </div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="input-group">
            <input class="form-control col-md-10" type="search" placeholder="Search">
            <div class="input-group-append">
                <div class="input-group-text" id="btnGroupAddon2"><i class="fa fa-search"></i></div>
            </div>
        </div>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="team"  role="button"  aria-haspopup="true" aria-expanded="false">
              Teams
            </a>
          
          </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Fantasy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="fixtures_matches">Fixtures</a>
        </li>            
       </ul>       
  </div>
  <ul class="navbar-nav a">
    <li class="nav-item">
      <span class="myTeam"></span>
    </li>
      <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
          <div class="dropdown-menu dropdown-menu-right">
              <form class="px-4 py-3">
                <div class="form-group">
                  <label for="exampleDropdownFormEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                </div>
                <div class="form-group">
                  <label for="exampleDropdownFormPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                    <label class="form-check-label" for="dropdownCheck">
                      Remember me
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
              </form>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">New around here? Sign up</a>          
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="signup">Sign Up</a>
        </li>
   </ul>
</nav>