nav{
    margin-top: 10px;
    display: flex;
}

nav ul li{
    padding-right: 50px;
}

button{
    border-radius: 90%;
    margin:5px;
}

.roundNumber{
    width:100%;
    height:70px;
    overflow: auto;
}

span{
    margin-left: 10px;
}