<nav class="navbar navbar-expand navbar-light" style="background-color: #e3f2fd;">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Matches and Results <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Prediction Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Upcoming Matches</a>
        </li>            
       </ul>       
  </nav>
      <span>Round No</span>
      <div class="roundNumber">
      <button type="button" class="btn btn-outline-danger">1</button>
      <button type="button" class="btn btn-outline-danger">2</button>
      <button type="button" class="btn btn-outline-danger">3</button>
      <button type="button" class="btn btn-outline-danger">4</button>
      <button type="button" class="btn btn-outline-danger">5</button>
      <button type="button" class="btn btn-outline-danger">6</button>
      <button type="button" class="btn btn-outline-danger">7</button>
      <button type="button" class="btn btn-outline-danger">8</button>
      <button type="button" class="btn btn-outline-danger">9</button>
      <button type="button" class="btn btn-outline-danger">10</button>
      <button type="button" class="btn btn-outline-danger">11</button>
      <button type="button" class="btn btn-outline-danger">12</button>
      <button type="button" class="btn btn-outline-danger">13</button>
      <button type="button" class="btn btn-outline-danger">14</button>
      <button type="button" class="btn btn-outline-danger">15</button>
      <button type="button" class="btn btn-outline-danger">16</button>
      <button type="button" class="btn btn-outline-danger">17</button>
      <button type="button" class="btn btn-outline-danger">18</button>
      <button type="button" class="btn btn-outline-danger">19</button>
      <button type="button" class="btn btn-outline-danger">20</button>
      <button type="button" class="btn btn-outline-danger">21</button>
      <button type="button" class="btn btn-outline-danger">22</button>
      <button type="button" class="btn btn-outline-danger">23</button>
    </div>

    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Link with href
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Button with data-target
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body" *ngFor="let game of games">
          {{game.winner}}
        </div>
      </div>